@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Handlee);

nav {
	width: 100%;
	text-align: left;
	background-color: white;
	font-size: 20px;
	border-top:  2px solid black;
}
nav > a {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 190px;
	font-family: 'Oswald', sans-serif;
}
.nav_home {
	color: black;
}
.nav_mission {
	color: #57BC90;
}
.nav_how {
	color: #57BC90;
}
.nav_you {
	color: #57BC90;
}

header {
	background: -webkit-linear-gradient(#1ba0d7, #002d3f);
	font-family: 'Courgette', sans-serif;
	border-right: 2px solid black;
	border-left: 2px solid black;
	text-align: left;
}
header > h1, header > h2 {
	padding-left: 20px;
	margin-top: 5px;
}
header > h1 {
	color: white;
	font-size: 50px;
	text-decoration: underline;
}
header > h2 {
	color: white;
	font-size: 30px;
	padding-bottom: 5px;
}
.main_image {
	border: 2px solid black;
	margin: 0px;
}

.program_statements {
	background: -webkit-linear-gradient(#77C9D4, #57BC90);
	height: 280px;
	text-align: center;
	font-size: 20px;
}
.program_statements > section {
	padding-top: 40px;
	padding-left: 10px;
	font-family: "Handlee", sans-serif;
}